body {
    display: flex;
    flex-direction: column;
    margin: 0;
   }

a, ul{
    text-decoration: none;
    list-style-type: none;
    color: #e5e7eb;
    font-size: 18px;
    margin-top: 8px;
 }

 /* Start of header CSS */

.header-links {
    display: inline-flex;
    gap: 15px;
    align-items: flex-start;
    margin-right:150px;

}

.header{
    display:flex;
    flex-direction: column;
    height: 350px;
    min-width: 100vh;
    background-color: #1F2937;
   
  
}

.header-banner { 
    display: flex;
    justify-content: space-between;
    gap: 100px;
}

.hero-image {
    display: flex;
    width: 400px;
    height: 200px;
    margin-right: 150px;

}

.header-logo {
   color:#F9FAF8;
   margin-left: 150px;
   margin-top: 8px;
   display: flex;
   justify-content: space-between;
   font-size: 24px;
   margin-bottom: 50px;

}

.header-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}


.header-title {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
    margin-left: 150px;  
    width: 300px;
    
}


.header-subtext {
    margin-left: 150px;
    color: rgb(153, 156, 160);
    

}

.button-signup {
    width: 90px;
    height: 30px;
    border-radius: 8px;
    background-color: #3882F6;
    color: white;
    padding: 2px;
    margin-top: 10px;
    margin-left: 150px;
}

 /* End of header CSS */

 .container {
text-align: center;
font-size: 20px;
font-weight: bolder;
color: #1f2937;
height: 300px;
 }

.photo-list {
display: flex;
justify-content: space-around;
gap: 10px;


}

.photos {
    display: flex;
  flex-direction: column;
    width: 200px;
   height: 200px;
   gap: 10px;
   font-weight: lighter;
   color: rgb(93, 100, 110);
   background-color: #e5e7eb;
   border: 5px solid #1F2937;
}

.container-quote {
    background-color: #E5E7EB;
    font-weight: lighter;
    font-style: italic;
    font-size: 36px;
    color: rgb(93, 100, 110);
    padding: 125px;
    margin-top: 100px;
    margin-bottom: 100px;
 

}