body {
    display: flex;
    flex-direction: column;
    margin: 0;
   }

a, ul{
    text-decoration: none;
    list-style-type: none;
    color: #e5e7eb;
    font-size: 18px;
    margin-top: 8px;
 }

.header-links {
    display: inline-flex;
    gap: 10px;
    align-items: flex-start;
    margin-right:150px;

}



.header{
    display:flex;
    flex-direction: column;
    height: 300px;
    min-width: 100vh;
    background-color: #1F2937;
   
  
}

.header-banner { 
    display: flex;
    justify-content: space-between;
    gap: 100px;
}

.hero-image {
    display: flex;
    width: 300px;
    height: 150px;
    margin-right: 150px;

}

.header-logo {
   color:#F9FAF8;
   margin-left: 150px;
   margin-top: 8px;
   display: flex;
   justify-content: space-between;
   font-size: 24px;
   margin-bottom: 65px;

}




.header-title {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
    display: flex;
    margin-left: 150px;  
    width: 300px;
    
}


.header-subtext {
    margin-left: 150px;
    color: rgb(153, 156, 160);
    

}

.button-signup {
    width: 90px;
    height: 30px;
    border-radius: 8px;
    background-color: #3882F6;
    color: white;
    padding: 2px;
}